{% extends 'friends/base.html' %}

{% block content %}
<div class="row">
    <div class="col-3 p-2">
        <img class="avatar" src="{{user.profile.avatar.url}}" alt="">
        <p>{{user.username}}</p>
        <p>Followers: {{followers}}</p>
        {% if user.pk != request.user.pk %}
            {% if user.username != request.user.username and not is_follow%}
                <a class="btn btn-primary btn-sm" href="{% url 'follow' user_id=user.id%}">Follow</a>
            {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'unfollow' user_id=user.id%}">Unfollow</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="col p-2">
        {% for post in posts %}
            <div class="col p-1 m-1 border border-secondary rounded position-relative">
                <p class="lh-1">{{post.title}}</p>
                <div class="d-flex flex-row">
                    <p >{{post.time_create}} ||</p>
                    <p style="margin:0 6px 0 6px">{{post.likes.count}}</p>
                    {% if user.pk == request.user.pk %}
                    <form action="{% url 'delete_post' post_id=post.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link position-absolute top-0 end-0 p-1">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
                
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}