/*Header*/

.header {
    background-color: #00AF91;
}

.nav-btn {
    background-color: white;
    border-color: white;
}

.nav-btn:hover {
    background-color: #FFC54D;
    border-color: #FFC54D;
}

.site-title {
    font-family: 'Fascinate', cursive;
    color: white;
}

.site-title:hover {
    color: #FFC54D;
}

.weather-info {
    color: white;
    font-family:'Gruppo', cursive;
}

/*Left menu*/

.left-menu {
    background-color: #007965;
}

.left-menu-button {
    font-family: 'Fredoka One', cursive;
    color:white;
}

.left-menu-button:hover {
    color: #FFC54D;
}

/*User page*/

.user-profile {
    margin: 8px;
    max-height: 270px;
}

.avatar {
    max-width: 100px;
    margin-bottom: 10px;
}

.user-post {
    margin: 0px 4px 4px 4px;
}

/*User post*/

.post-date {
    margin: 0px;
    display:inline; 
    display:inline-block;
}

.username-link {
    margin: 0px;
    display:inline; 
    display:inline-block;
    color: black;
}

.username-link:hover {
    color:#007965;
}

.delete-post-icon {
    color:black;
}

.delete-post-icon:hover {
    color:#f99ab6;
}

.btn-white {
    background-color: white;
    border-color: black;
}

form .btn-light {
    background-color: #fcdfa6;
    border-color: black;
}

.btn-yellow:hover {
    background-color: #FFC54D;
    border-color: black;
}

form .btn-red:hover {
    background-color: #f99ab6;
    border-color: black;
}

.fa-heart {
    margin: 0 4px 0 4px;
}

.footer {
    background-color: #072227;
    height: 50px;
}

.form-control {
    background-color: white;
}

.main-page {
    background-color: #FFF9F9;
}

.news-box:hover {
    background-color: #cef6f9;
}

.register-form {
    padding-left: 10px;
}

.user-link {
    color:black;
}

.user-link:hover {
    color:red;
}

